<!DOCTYPE html>
<html lang="lt-LT">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="Profesionalus statybinių medžiagų tiekimas: čerpės - stoglangiai - lietaus surinkimo sistema - kaminai - dūmtraukiai - ventiliacijos sistema  - plytos - keraminiai blokai - Fibo blokai - putų polistirenas.">
  <meta name="keywords"
    content="čerpės, cerpes, stogu, stogų dangos, stoglangiai, lietvamzdziai, lietaus surinkimo sistema, kaminai, dūmtraukiai, plytos, keraminiai blokai, Fibo blokai, putų polistirenas, ventiliacijos sistema, monier, schiedel, Klaipėda, Klaipėdoje">
  <meta name="author" content="Nikolai Chernolutskii, Anastasiia Chernolutskaia">
  <title>AKS WEST - Velux montavimo gaminiai</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../css/fonts.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/media.css">
</head>

<body class="body">

  <header class="header">
    <div class="header__top header__top-index">
      <div class="container">
        <div class="header__top-inner">
          <div class="aks">
            <a class="aks__logo" href="../index.html">
              <picture>
                <source media="(max-width:425px)" srcset="../img/Logo-sm.png">
                <img src="../img/Logo.png" alt="AKS WEST">
              </picture>
            </a>
            <div class="aks__title">
              <h1>
                Profesionalus<br> statybinių medžiagų<br> tiekėjas
              </h1>
            </div>
          </div>
          <div class="awards">
            <picture>
                <source media="(max-width:425px)" srcset="../img/BNI-sm.png">
                <source media="(max-width:1150px)" srcset="../img/BNI-md.png">
                <img src="../img/BNI.png">
            </picture>
            <picture>
                <source media="(max-width:425px)" srcset="../img/Certificate-sm.png">
                <source media="(max-width:1150px)" srcset="../img/Certificate-md.png">
                <img src="../img/Certificate.png">
            </picture>
        </div>
          <div class="contacts header__contacts">
            <a class="phone header__phone" href="tel:+37069883182">+370 698 83182</a>
            <a class="email header__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 768px start-->
    <div class="header-md__contacts">
      <!-- 320px start -->
      <nav class="menu-320">
        <div class="hamburger__gen">
            <div class="hamburger__top">
            </div>
            <div class="hamburger__middle">
            </div>
        </div>
        <div class="menu-320-inner">
            <div class="close__box-320">
                <div class="close__box-320-inner">

                </div>
            </div>
            <ul class="menu__list-320">
                <li class="menu__item-320">
                    <a class="menu__item-link-320" href="../index.html">
                        APIE MUS
                    </a>
                </li>
                <li class="menu__item-320 menu__item-320-produkcija">
                    <a class="menu__item-link-320" href="page-produkcija.html">
                        PRODUKCIJA
                    </a>
                </li>
                <li class="menu__item-320">
                    <a class="menu__item-link-320" href="page-galerija.html">
                        GALERIJA
                    </a>
                </li>
                <li class="menu__item-320">
                    <a class="menu__item-link-320" href="page-informacija.html">
                        informacija
                    </a>
                </li>
                <li class="menu__item-320">
                    <a class="menu__item-link-320" href="page-kontaktai.html">
                        KONTAKTAI
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 320px end -->
      <div class="container">
        <div class="header-md__contacts-inner">
          <a class="header-md__phone" href="tel:+37069883182">
            +370 698 83182
          </a>
          <div class="header-md__contacts-small">
            <a class="header-md__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
            <a class="header-md__address" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="header-md__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- 768px end-->
    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom-inner">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__item-link" href="../index.html">
                  APIE MUS
                </a>
              </li>
              <li class="menu__item menu__item-produkcija">
                <a class="menu__item-link" href="page-produkcija.html">
                  PRODUKCIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-galerija.html">
                  GALERIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-informacija.html">
                  informacija
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-kontaktai.html">
                  KONTAKTAI
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="quality">
      <div class="container">
        <div class="quality__inner">
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-experience-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-experience-md_icon.png">
                <img src="../img/q-experience_icon.png" alt="patirtis">
              </picture>
            </div>
            <div class="quality__item-txt">
              daugiau nei 12 darbo metų
            </div>
          </div>
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-objects-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-objects-md_icon.png">
                <img src="../img/q-objects_icon.png" alt="objektai">
              </picture>
            </div>
            <div class="quality__item-txt">
              1500 <br> baigtų objektų
            </div>
          </div>
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-certificates-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-certificates-md_icon.png">
                <img src="../img/q-certificates_icon.png" alt="kokybė">
              </picture>
            </div>
            <div class="quality__item-txt">
              kokybės sertifikatai
            </div>
          </div>
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-indiv-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-indiv-md_icon.png">
                <img src="../img/q-indiv_icon.png" alt="individualus biudžetas">
              </picture>
            </div>
            <div class="quality__item-txt">
              individualus biudžetas
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="partners__slider">
      <div class="container">
        <div class="partners__slider-inner">
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://www.velux.lt/">
                  <img src="../img/logo_velux.svg" alt="Velux">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://www.velux.lt/">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-velux.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-velux.png">
                  <img src="../img/banner-lg-velux.png" alt="Velux">
                </picture>
              </a>
            </div>
          </div>
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://www.bmigroup.com/lt">
                  <img src="../img/logo_monier.svg" alt="Monier">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://www.bmigroup.com/lt">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-monier.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-monier.png">
                  <img src="../img/banner-lg-monier.png" alt="Monier">
                </picture>
              </a>
            </div>
          </div>
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://www.schiedel.com/lt/">
                  <img src="../img/logo_schiedel.svg" alt="Schiedel">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://www.schiedel.com/lt/">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-schiedel.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-schiedel.png">
                  <img src="../img/banner-lg-schiedel.png" alt="Schiedel">
                </picture>
              </a>
            </div>
          </div>
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://baumit.lt/">
                  <img src="../img/logo_baumit.svg" alt="Baumit">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://baumit.lt/">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-baumit.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-baumit.png">
                  <img src="../img/banner-lg-baumit.png" alt="Baumit">
                </picture>
              </a>
            </div>
          </div>
        </div>
    </section>

    <section class="velux__product velux__montavimo__gaminiai">
      <div class="container clearfix">
        <div class="velux__title velux__title-montavimo__gaminiai">
          <img src="../img/velux__montavimas.png" alt="Montavimas">
        </div>
        <div class="velux__product-inner velux__product-inner-montavimo__gaminiai">
          <div class="velux__product-item velux__product-item-light velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDW0000.png" alt="EDW0000">
              </div>
              <div class="velux__product-item-title">
                Tarpinė banguotai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDW 0000</p>
              </div>
              <div class="velux__product-item-description">
                EDW tarpinė tinka stogo dangoms, kurių profilio aukštis iki 120 mm, pvz.: čerpėms, plieniniams čerpių imitacijos ar šiferio lakštams, "Classic" tipo profiliams, šiaudinei dangai ir pan.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDS0000.png" alt="EDS0000">
              </div>
              <div class="velux__product-item-title">
                Tarpinė lygiai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDS 0000</p>
              </div>
              <div class="velux__product-item-description">
                EDS tarpinė tinka lygioms stogo dangoms, kurių profilio aukštis iki 16 mm, pvz.: bituminėms čerpelėms, skiedroms ir kt. 
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDJ0000.png" alt="EDJ0000">
              </div>
              <div class="velux__product-item-title">
                Tarpinė banguotai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDJ 0000</p>
              </div>
              <div class="velux__product-item-description">
                EDJ tarpinė montuojama stoge giliau ir tinka stogo dangoms, kurių profilio aukštis iki 90 mm. Norint išvengti šalčio tiltelių susidarymo, tarpinę rekomenduojame naudoti, kai stogo nuolydis 20°–90°.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDW2000-BBX0000.png" alt="EDW2000-BBX0000">
              </div>
              <div class="velux__product-item-title">
                Montavimo paketas "Pagrindinis"
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDW 2000-BBX 0000</p>
              </div>
              <div class="velux__product-item-description">
                Montavimo paketas EDW "Pagrindinis" tinka stogo dangoms, kurių profilio aukštis iki 120 mm, pvz.: čerpėms, plieniniams čerpių imitacijos ar šiferio lakštams, "Classic" tipo profiliams, šiaudinei dangai ir pan. Į paketą įeina: tarpinė, šiltinantis rėmas, drenažo latakas, difuzinė plėvelė ir garų izoliacija.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-standard">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDS2000-BBX0000.png" alt="EDS2000-BBX0000">
              </div>
              <div class="velux__product-item-title">
                Montavimo paketas "Pagrindinis"
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDS 2000-BBX 0000</p>
              </div>
              <div class="velux__product-item-description">
                Montavimo paketas  EDS "Pagrindinis" tinka lygioms stogo dangoms, kurių profilio aukštis iki 16 mm, pvz.: bituminėms čerpelėms, skiedroms ir kt.  Į paketą įeina: tarpinė, šiltinantis rėmas, drenažo latakas, difuzinė plėvelė, garų izoliacija.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDJ2000-BBX0000.png" alt="EDJ2000-BBX0000">
              </div>
              <div class="velux__product-item-title">
                Montavimo paketas "Pagrindinis"
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDJ 2000-BBX 0000</p>
              </div>
              <div class="velux__product-item-description">
                Montavimo paketas EDJ "Pagrindinis" montuojama stoge giliau
                ir tinka stogo dangoms, kurių profilio aukštis iki 90 mm. Norint išvengti šalčio tiltelių susidarymo, tarpinę rekomenduojame naudoti, kai stogo nuolydis 20°–90°.  Į paketą įeina: tarpinė, šiltinantis rėmas, drenažo latakas, difuzinė plėvelė, garų izoliacija.Montavimo paketas EDJ "Pagrindinis" montuojama stoge giliau ir tinka stogo dangoms, kurių profilio aukštis iki 90 mm. Norint išvengti šalčio tiltelių susidarymo, tarpinę rekomenduojame naudoti, kai stogo nuolydis 20°–90°.  Į paketą įeina: tarpinė, šiltinantis rėmas, drenažo latakas, difuzinė plėvelė, garų izoliacija.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDW2000_EDW0000-BDX2000.png" alt="EDW2000_EDW0000-BDX2000">
              </div>
              <div class="velux__product-item-title">
                Montavimo paketas banguotai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDW 2000 (EDW 0000 + BDX 2000)</p>
              </div>
              <div class="velux__product-item-description">
                EDW 2000 montavimo paketas tinka stogo dangoms, kurių profilio aukštis iki 120 mm, pvz.: čerpėms, plieniniams čerpių imitacijos ar šiferio lakštams, "Classic" tipo profiliams, šiaudinei dangai ir pan. Į paketą įeina: tarpinė, šiltinantis rėmas, drenažo latakas, difuzinė plėvelė.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDS2000_EDS0000-BDX2000.png" alt="EDS2000_EDS0000-BDX2000">
              </div>
              <div class="velux__product-item-title">
                Montavimo paketas lygiai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDS 2000 (EDS 0000 + BDX 2000)</p>
              </div>
              <div class="velux__product-item-description">
                EDS 2000 montavimo paketas tinka lygioms stogo dangoms, kurių profilio aukštis iki 16 mm, pvz.: bituminėms čerpelėms, skiedroms ir kt.  Į paketą įeina: tarpinė, šiltinantis rėmas, drenažo latakas, difuzinė plėvelė.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-standard">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDJ2000_EDJ0000-BDX2000.png" alt="EDJ2000_EDJ0000-BDX2000">
              </div>
              <div class="velux__product-item-title">
                Montavimo paketas banguotai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDJ 2000 (EDJ 0000 + BDX 2000)</p>
              </div>
              <div class="velux__product-item-description">
                EDJ 2000 montavimo paketas montuojama stoge giliau ir tinka stogo dangoms, kurių profilio aukštis iki 90 mm. Norint išvengti šalčio tiltelių susidarymo, tarpinę rekomenduojame naudoti, kai stogo nuolydis 20°–90°.  Į paketą įeina: tarpinė, šiltinantis rėmas, drenažo latakas, difuzinė plėvelė.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EKW0021E.png" alt="EKW0021E">
              </div>
              <div class="velux__product-item-title">
                Kombinuota tarpinė banguotai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EKW 0021E</p>
              </div>
              <div class="velux__product-item-description">
                EKW  0021E tarpinė tinka stogo dangoms, kurių profilio aukštis iki 120 mm, pvz.: čerpėms, plieniniams čerpių imitacijos ar šiferio lakštams, "Classic" tipo profiliams, šiaudinei dangai ir pan. Montuojama, kai langai grupuojami po du vienas šalia kito, 10 cm tarpu tarp rėmų. Rekomenduojama montuoti su izoliavimo komplektais BDX ir garų plėvelėmis BBX, kad šilumos ir drėgmės izoliacija būtų geriausia.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EKS0021E.png" alt="EKS0021E">
              </div>
              <div class="velux__product-item-title">
                Kombinuota tarpinė lygiai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EKS 0021E</p>
              </div>
              <div class="velux__product-item-description">
                EKS 0021E tarpinė tinka lygioms stogo dangoms, kurių profilio aukštis iki 16 mm, pvz.: bituminėms čerpelėms, skiedroms ir kt.  Montuojama, kai langai grupuojami po du vienas šalia kito, 10 cm tarpu tarp rėmų. Rekomenduojama montuoti su izoliavimo komplektais BDX ir garų plėvelėmis BBX, kad šilumos ir drėgmės izoliacija būtų geriausia.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EKW0007E-EDW0000.png" alt="EKW0007E-EDW0000">
              </div>
              <div class="velux__product-item-title">
                Kombinuota tarpinė banguotai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EKW 0007E + EDW 0000</p>
              </div>
              <div class="velux__product-item-description">
                EKW 0007E + EDW 0000 tarpinė tinka stogo dangoms, kurių profilio aukštis iki 120 mm, pvz.: čerpėms, plieniniams čerpių imitacijos ar šiferio lakštams, "Classic" tipo profiliams, šiaudinei dangai ir pan. Montuojama, kai langai grupuojami po du vienas virš kito, 10 cm tarpu tarp rėmų. Rekomenduojama montuoti su izoliavimo komplektais BDX ir garų plėvelėmis BBX, kad šilumos ir drėgmės izoliacija būtų geriausia.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EKS0007E-EDS0000.png" alt="EKS0007E-EDS0000">
              </div>
              <div class="velux__product-item-title">
                Kombinuota tarpinė lygiai stogo dangai
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EKS 0007E + EDS 0000</p>
              </div>
              <div class="velux__product-item-description">
                EKS 0007E + EDS 0000 tarpinė tinka lygioms stogo dangoms, kurių profilio aukštis iki 16 mm, pvz.: bituminėms čerpelėms, skiedroms ir kt.  Montuojama, kai langai grupuojami po du vienas virš kito, 10 cm tarpu tarp rėmų. Rekomenduojama montuoti su izoliavimo komplektais BDX ir garų plėvelėmis BBX, kad šilumos ir drėgmės izoliacija būtų geriausia.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__ZWC.png" alt="ZWC">
              </div>
              <div class="velux__product-item-title">
                Stogo lango apskardinimų komplektas
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>ZWC</p>
              </div>
              <div class="velux__product-item-description">
                ZWC – tai lango skardelių komplektas, kurį būtina užsisakyti, jeigu montavimui nenaudojama tarpinė, pvz., kai stogo danga – valcuojami skardos lakštai.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__BDX.png" alt="BDX">
              </div>
              <div class="velux__product-item-title">
                Izoliavimo komplektas
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>BDX</p>
              </div>
              <div class="velux__product-item-description">
                Izoliavimo komplektą sudaro trys komponentai – šiltinantis rėmas, difuzinė plėvelė ir drenažo latakas. Montuojant stogo langą su BDX, jis užsandarinamas ir apšiltinamas iš išorės.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__BBX.png" alt="BBX">
              </div>
              <div class="velux__product-item-title">
                Garo izoliacijos plėvelė
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>BBX</p>
              </div>
              <div class="velux__product-item-description">
                Vientisa plėvelė BBX – oro bei garų nepraleidžianti sistema, apsauganti nuo kondensato susidarymo stogo konstrukcijoje.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDT0000.png" alt="EDT0000">
              </div>
              <div class="velux__product-item-title">
                Tarpinė
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDT 0000</p>
              </div>
              <div class="velux__product-item-description">
                EDT tarpinė skirta stogo dangai, kurios profilio aukštis iki 40 mm, pavyzdžiui plokščioms čerpėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-montavimo__gaminiai">
            <div class="velux__product-item-inner velux__product-item-inner-montavimo__gaminiai">
              <div class="velux__product-item-img">
                <img src="../img/velux__EDT2000_EDT0000-BDX2000.png" alt="EDT2000_EDT0000-BDX2000">
              </div>
              <div class="velux__product-item-title">
                Montavimo paketas
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>EDT 2000 (EDT 0000 + BDX 2000)</p>
              </div>
              <div class="velux__product-item-description">
                EDT tarpinė skirta stogo dangai, kurios profilio aukštis iki 40 mm, pavyzdžiui plokščioms čerpėms. 
              </div>
            </div>
          </div>
        </div>
        <div class="gallery__link gallery__link-velux-product">
          <a href="page-galerija-velux.html">žiūrėti galeriją Velux</a>
        </div>
      
    </section>

    <!-- SECTION app__call START -->

   <section class="app__call app__call-products__example app__call-products__example-425">
    <div class="container">
      <div class="app__call-inner">
        <div class="app__call-title">
          Reikia konsultacijos? Susisiekite su mumis!
        </div>
        <div class="app__call-info app__call-info-products__example">
          <div class="app__call-info-official app__call-info-official-products__example">
            <a href="page-kontaktai.html">rekvizitai</a>
          </div>
          <div class="app__call-info-contacts">
            <div class="app__call-info-phone">
              <a href="tel:+37069883182">+370 698 83182</a>
            </div>
            <div class="app__call-info-email">
              <a href="mailto:akswest@gmail.com ">akswest@gmail.com </a>
            </div>
            <a class="app__call-info-address" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="header-md__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>

        <!-- 630px START -->
        <div class="app__call-info app__call-info-products__example-630">
          <div class="app__call-info-official app__call-info-official-products__example">
            <a href="page-kontaktai.html">rekvizitai</a>
          </div>
          <div class="app__call-info-contacts-630">
            <div class="app__call-info-phone-630">
              <a href="tel:+37069883182">+370 698 83182</a>
            </div>
            <div class="app__call-info-email-630">
              <a href="mailto:akswest@gmail.com ">akswest@gmail.com </a>
            </div>
            <a class="app__call-info-address-630" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="header-md__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>
        <!-- 630px END -->
      </div>
    </div>
  </section>

  </main>

  <footer class="footer">
    <div class="footer__main">
      <div class="container">
        <div class="footer__top">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__item-link" href="../index.html">
                  APIE MUS
                </a>
              </li>
              <li class="menu__item menu__item-produkcija">
                <a class="menu__item-link" href="page-produkcija.html">
                  PRODUKCIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-galerija.html">
                  GALERIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-informacija.html">
                  informacija
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-kontaktai.html">
                  KONTAKTAI
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__bottom">
          <div class="aks">
            <a class="aks__logo" href="../index.html">
              <img src="../img/Logo__footer.png" alt="AKS WEST">
            </a>
            <div class="aks__title">
              <h2>
                Profesionalus<br> statybinių<br> medžiagų<br> tiekėjas
              </h2>
            </div>
          </div>
          <a class="phone footer__phone" href="tel:+37069883182">
            +370 698 83182
          </a>
          <div class="contacts footer__contacts">
            <a class="email footer__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
            <a href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" class="footer__address" target="_blank">
              <address class="footer__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>
        <!-- 768px start -->

        <div class="footer-md__bottom">
          <div class="aks">
              <a class="aks__logo" href="index.html">
                  <img src="../img/Logo__footer.png" alt="AKS WEST">
              </a>
              <div class="aks__title">
                  <h2>
                      Profesionalus<br> statybinių<br> medžiagų<br> tiekėjas
                  </h2>
              </div>
          </div>
          <div class="contacts footer-md__contacts">
              <!-- 320px start -->
              <nav class="menu-320">
                  <div class="hamburger__gen">
                      <div class="hamburger__top">
                      </div>
                      <div class="hamburger__middle">
                      </div>
                  </div>
                  <div class="menu-320-inner">
                      <div class="close__box-320">
                          <div class="close__box-320-inner">

                          </div>
                      </div>
                      <ul class="menu__list-320">
                          <li class="menu__item-320">
                              <a class="menu__item-link-320" href="../index.html">
                                  APIE MUS
                              </a>
                          </li>
                          <li class="menu__item-320 menu__item-320-produkcija">
                              <a class="menu__item-link-320" href="page-produkcija.html">
                                  PRODUKCIJA
                              </a>
                          </li>
                          <li class="menu__item-320">
                              <a class="menu__item-link-320" href="page-galerija.html">
                                  GALERIJA
                              </a>
                          </li>
                          <li class="menu__item-320">
                              <a class="menu__item-link-320" href="page-informacija.html">
                                  informacija
                              </a>
                          </li>
                          <li class="menu__item-320">
                              <a class="menu__item-link-320" href="page-kontaktai.html">
                                  KONTAKTAI
                              </a>
                          </li>
                      </ul>
                  </div>
              </nav>

              <div class="container">
                  <div class="footer-sm__contacts-inner header-md__contacts-inner">
                      <a class="footer-sm__phone header-md__phone" href="tel:+37069883182">
                          +370 698 83182
                      </a>
                      <div class="footer-sm__contacts-small header-md__contacts-small">
                          <a class="footer-sm__email header-md__email"
                              href="mailto:akswest@gmail.com">akswest@gmail.com</a>
                          <a class="footer-sm__address-link header-md__address-link"
                              href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
                              <address class="footer-sm__address header-md__address">
                                  Šilutės pl. 21, 2a., Klaipėda
                              </address>
                          </a>
                      </div>
                  </div>
              </div>
              <!-- 320px end -->
              <a class="email footer-md__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
              <a class="phone footer-md__phone" href="tel:+37069883182">
                  +370 698 83182
              </a>
          </div>
          <a class="footer-md__address-link" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="footer-md__address">
                  Šilutės pl. 21, 2a., Klaipėda
              </address>
          </a>
      </div>

      <!-- 768px end -->
  </div>
</div>
<div class="footer__small">
  <div class="container">
      <small>
          &#169; AKSWest. Visos teisės saugomos. Be sutikimo draudžiama kopijuoti ir platinti svetainėje
          esančią
          informaciją.
      </small>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/swiper-bundle.min.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>