<!DOCTYPE html>
<html lang="lt-LT">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="Profesionalus statybinių medžiagų tiekimas: čerpės - stoglangiai - lietaus surinkimo sistema - kaminai - dūmtraukiai - ventiliacijos sistema  - plytos - keraminiai blokai - Fibo blokai - putų polistirenas.">
  <meta name="keywords"
    content="čerpės, cerpes, stogu, stogų dangos, stoglangiai, lietvamzdziai, lietaus surinkimo sistema, kaminai, dūmtraukiai, plytos, keraminiai blokai, Fibo blokai, putų polistirenas, ventiliacijos sistema, monier, schiedel, Klaipėda, Klaipėdoje">
  <meta name="author" content="Nikolai Chernolutskii, Anastasiia Chernolutskaia">
  <title>AKS WEST - Velux Standard</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../css/fonts.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/media.css">
</head>

<body class="body">

  <header class="header">
    <div class="header__top header__top-index">
      <div class="container">
        <div class="header__top-inner">
          <div class="aks">
            <a class="aks__logo" href="../index.html">
              <picture>
                <source media="(max-width:425px)" srcset="../img/Logo-sm.png">
                <img src="../img/Logo.png" alt="AKS WEST">
              </picture>
            </a>
            <div class="aks__title">
              <h1>
                Profesionalus<br> statybinių medžiagų<br> tiekėjas
              </h1>
            </div>
          </div>
          <div class="awards">
            <picture>
              <source media="(max-width:425px)" srcset="../img/BNI-sm.png">
              <source media="(max-width:1150px)" srcset="../img/BNI-md.png">
              <img src="../img/BNI.png">
            </picture>
            <picture>
              <source media="(max-width:425px)" srcset="../img/Certificate-sm.png">
              <source media="(max-width:1150px)" srcset="../img/Certificate-md.png">
              <img src="../img/Certificate.png">
            </picture>
          </div>
          <div class="contacts header__contacts">
            <a class="phone header__phone" href="tel:+37069883182">+370 698 83182</a>
            <a class="email header__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 768px start-->
    <div class="header-md__contacts">
      <!-- 320px start -->
      <nav class="menu-320">
        <div class="hamburger__gen">
          <div class="hamburger__top">
          </div>
          <div class="hamburger__middle">
          </div>
        </div>
        <div class="menu-320-inner">
          <div class="close__box-320">
            <div class="close__box-320-inner">

            </div>
          </div>
          <ul class="menu__list-320">
            <li class="menu__item-320">
              <a class="menu__item-link-320" href="../index.html">
                APIE MUS
              </a>
            </li>
            <li class="menu__item-320 menu__item-320-produkcija">
              <a class="menu__item-link-320" href="page-produkcija.html">
                PRODUKCIJA
              </a>
            </li>
            <li class="menu__item-320">
              <a class="menu__item-link-320" href="page-galerija.html">
                GALERIJA
              </a>
            </li>
            <li class="menu__item-320">
              <a class="menu__item-link-320" href="page-informacija.html">
                informacija
              </a>
            </li>
            <li class="menu__item-320">
              <a class="menu__item-link-320" href="page-kontaktai.html">
                KONTAKTAI
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- 320px end -->
      <div class="container">
        <div class="header-md__contacts-inner">
          <a class="header-md__phone" href="tel:+37069883182">
            +370 698 83182
          </a>
          <div class="header-md__contacts-small">
            <a class="header-md__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
            <a class="header-md__address" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="header-md__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- 768px end-->
    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom-inner">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__item-link" href="../index.html">
                  APIE MUS
                </a>
              </li>
              <li class="menu__item menu__item-produkcija">
                <a class="menu__item-link" href="page-produkcija.html">
                  PRODUKCIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-galerija.html">
                  GALERIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-informacija.html">
                  informacija
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-kontaktai.html">
                  KONTAKTAI
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="quality">
      <div class="container">
        <div class="quality__inner">
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-experience-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-experience-md_icon.png">
                <img src="../img/q-experience_icon.png" alt="patirtis">
              </picture>
            </div>
            <div class="quality__item-txt">
              daugiau nei 12 darbo metų
            </div>
          </div>
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-objects-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-objects-md_icon.png">
                <img src="../img/q-objects_icon.png" alt="objektai">
              </picture>
            </div>
            <div class="quality__item-txt">
              1500 <br> baigtų objektų
            </div>
          </div>
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-certificates-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-certificates-md_icon.png">
                <img src="../img/q-certificates_icon.png" alt="kokybė">
              </picture>
            </div>
            <div class="quality__item-txt">
              kokybės sertifikatai
            </div>
          </div>
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-indiv-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-indiv-md_icon.png">
                <img src="../img/q-indiv_icon.png" alt="individualus biudžetas">
              </picture>
            </div>
            <div class="quality__item-txt">
              individualus biudžetas
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="partners__slider">
      <div class="container">
        <div class="partners__slider-inner">
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://www.velux.lt/">
                  <img src="../img/logo_velux.svg" alt="Velux">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://www.velux.lt/">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-velux.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-velux.png">
                  <img src="../img/banner-lg-velux.png" alt="Velux">
                </picture>
              </a>
            </div>
          </div>
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://www.bmigroup.com/lt">
                  <img src="../img/logo_monier.svg" alt="Monier">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://www.bmigroup.com/lt">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-monier.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-monier.png">
                  <img src="../img/banner-lg-monier.png" alt="Monier">
                </picture>
              </a>
            </div>
          </div>
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://www.schiedel.com/lt/">
                  <img src="../img/logo_schiedel.svg" alt="Schiedel">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://www.schiedel.com/lt/">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-schiedel.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-schiedel.png">
                  <img src="../img/banner-lg-schiedel.png" alt="Schiedel">
                </picture>
              </a>
            </div>
          </div>
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://baumit.lt/">
                  <img src="../img/logo_baumit.svg" alt="Baumit">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://baumit.lt/">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-baumit.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-baumit.png">
                  <img src="../img/banner-lg-baumit.png" alt="Baumit">
                </picture>
              </a>
            </div>
          </div>
        </div>
    </section>

    <section class="velux__product velux__standard">
      <div class="container clearfix">
        <div class="velux__title velux__title-standard">
          <img src="../img/velux__standard.png" alt="Standard">
        </div>
        <div class="velux__product-inner velux__product-inner-standard">
          <div class="velux__product-item velux__product-item-light velux__product-item-standard">
            <div class="velux__product-item-inner velux__product-item-inner-standard">
              <div class="velux__product-item-img">
                <img src="../img/velux__GZL1051.png" alt="GZL1051">
              </div>
              <div class="velux__product-item-title">
                VELUX stogo langas "Standard" su viršutine rankena
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GZL 1051</p>
              </div>
              <div class="velux__product-item-description">
                Medinis stogo langas, nulakuotas skaidriu laku. Viršutine rankena valdomas stogo langas su integruota
                vėdinimo sistema bei filtru nuo dulkių ir vabzdžių. Patogus uždaryti ir atidaryti viena ranka. Langus
                su viršutine rankena siūlome rinktis tuomet, kai jie montuojami stoge žemiau ar po jais pastatyti
                baldai. Yra galimybė įrengti nuotolinio valdymo sistemą. Stoglangis su ThermoTechnology™ izoliacijos
                sistema, su sustiprintu stiklo paketu, jo Uw — 1,3. Gaminiui suteikiama 10 metų garantija. Langą galima
                apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-standard">
            <div class="velux__product-item-inner velux__product-item-inner-standard">
              <div class="velux__product-item-img">
                <img src="../img/velux__GZL1051B.png" alt="GZL1051B">
              </div>
              <div class="velux__product-item-title">
                VELUX stogo langas "Standard" su apatine rankena
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GZL 1051B</p>
              </div>
              <div class="velux__product-item-description">
                Medinis stogo langas, nulakuotas skaidriu laku, valdomas apatine rankena; su integruota vėdinimo sistema
                bei filtru nuo dulkių ir vabzdžių. Patogus uždaryti ir atidaryti viena ranka. Šį langas rekomenduojame
                rinktis, jeigu jis bus montuojamas stoge aukščiau. Vėdinimas reguliuojamas specialia sklende arba
                užfiksavus rankeną vėdinimo pozicijoje. Stoglangis su ThermoTechnology™ izoliacijos sistema, su
                sustiprintu stiklo paketu, jo Uw - 1,3. Gaminiui suteikiama 10 metų garantija. Langą galima apversti 180
                laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-standard">
            <div class="velux__product-item-inner velux__product-item-inner-standard">
              <div class="velux__product-item-img">
                <img src="../img/velux__GLU0051.png" alt="GLU0051">
              </div>
              <div class="velux__product-item-title">
                Poliuretanu padengtas VELUX stogo langas "Standard" su viršutine rankena
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GLU 0051</p>
              </div>
              <div class="velux__product-item-description">
                Medinis stogo langas su balta, atsparia drėgmei poliuretano danga. Šis stogo langas nereikalauja
                priežiūros - jo nereikia perdažyti. Dėl unikalios liejimo būdu pagamintos konstrukcijos, langą lengva
                valyti, nes kampuose nėra sujungimų. Puikiai tinka montuoti patalpose, kuriose daugiau drėgmės: voniose,
                virtuvėse, oranžerijose ir pan. Stogo langas patogiai varstomas viršutine rankena. Langas yra su
                ThermoTechnology™ sistema, todėl energiškai efektyvus, jo Uw - 1,3. Šiam gaminiui suteikiama 15 metų
                garantija lango paviršiui ir 10 metų - visai lango konstrukcijai. Langą galima apversti 180 laipsnių
                kampu
                ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-standard">
            <div class="velux__product-item-inner velux__product-item-inner-standard">
              <div class="velux__product-item-img">
                <img src="../img/velux__GLU0051B.png" alt="GLU0051B">
              </div>
              <div class="velux__product-item-title">
                Poliuretanu padengtas VELUX stogo langas "Standard" su apatine rankena
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GLU 0051B</p>
              </div>
              <div class="velux__product-item-description">
                Medinis stogo langas su balta, atsparia drėgmei poliuretano danga. Šis stogo langas nereikalauja
                priežiūros - jo nereikia perdažyti. Dėl unikalios liejimo būdu pagamintos konstrukcijos, langą lengva
                valyti, nes kampuose nėra sujungimų. Puikiai tinka montuoti patalpose, kuriose daugiau drėgmės: voniose,
                virtuvėse, oranžerijose ir pan. Stogo langas patogiai varstomas apatine rankena. Šį langas
                rekomenduojame
                rinktis, jeigu jis bus montuojamas stoge aukščiau. Vėdinimas reguliuojamas specialia sklende arba
                užfiksavus rankeną vėdinimo pozicijoje. Langas yra su ThermoTechnology™ sistema, todėl energiškai
                efektyvus, jo Uw - 1,3. Šiam gaminiui suteikiama 15 metų garantija lango paviršiui ir 10 metų - visai
                lango konstrukcijai. Langą galima apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
        </div>
        <div class="gallery__link gallery__link-velux-product">
          <a href="page-galerija-velux.html">žiūrėti galeriją Velux</a>
        </div>
      </div>
    </section>

    <!-- SECTION app__call START -->

   <section class="app__call app__call-products__example app__call-products__example-425">
    <div class="container">
      <div class="app__call-inner">
        <div class="app__call-title">
          Reikia konsultacijos? Susisiekite su mumis!
        </div>
        <div class="app__call-info app__call-info-products__example">
          <div class="app__call-info-official app__call-info-official-products__example">
            <a href="page-kontaktai.html">rekvizitai</a>
          </div>
          <div class="app__call-info-contacts">
            <div class="app__call-info-phone">
              <a href="tel:+37069883182">+370 698 83182</a>
            </div>
            <div class="app__call-info-email">
              <a href="mailto:akswest@gmail.com ">akswest@gmail.com </a>
            </div>
            <a class="app__call-info-address" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="header-md__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>

        <!-- 630px START -->
        <div class="app__call-info app__call-info-products__example-630">
          <div class="app__call-info-official app__call-info-official-products__example">
            <a href="page-kontaktai.html">rekvizitai</a>
          </div>
          <div class="app__call-info-contacts-630">
            <div class="app__call-info-phone-630">
              <a href="tel:+37069883182">+370 698 83182</a>
            </div>
            <div class="app__call-info-email-630">
              <a href="mailto:akswest@gmail.com ">akswest@gmail.com </a>
            </div>
            <a class="app__call-info-address-630" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="header-md__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>
        <!-- 630px END -->
      </div>
    </div>
  </section>

  </main>

  <footer class="footer">
    <div class="footer__main">
      <div class="container">
        <div class="footer__top">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__item-link" href="../index.html">
                  APIE MUS
                </a>
              </li>
              <li class="menu__item menu__item-produkcija">
                <a class="menu__item-link" href="page-produkcija.html">
                  PRODUKCIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-galerija.html">
                  GALERIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-informacija.html">
                  informacija
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-kontaktai.html">
                  KONTAKTAI
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__bottom">
          <div class="aks">
            <a class="aks__logo" href="../index.html">
              <img src="../img/Logo__footer.png" alt="AKS WEST">
            </a>
            <div class="aks__title">
              <h2>
                Profesionalus<br> statybinių<br> medžiagų<br> tiekėjas
              </h2>
            </div>
          </div>
          <a class="phone footer__phone" href="tel:+37069883182">
            +370 698 83182
          </a>
          <div class="contacts footer__contacts">
            <a class="email footer__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
            <a href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" class="footer__address" target="_blank">
              <address class="footer__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>
        <!-- 768px start -->

        <div class="footer-md__bottom">
          <div class="aks">
            <a class="aks__logo" href="index.html">
              <img src="../img/Logo__footer.png" alt="AKS WEST">
            </a>
            <div class="aks__title">
              <h2>
                Profesionalus<br> statybinių<br> medžiagų<br> tiekėjas
              </h2>
            </div>
          </div>
          <div class="contacts footer-md__contacts">
            <!-- 320px start -->
            <nav class="menu-320">
              <div class="hamburger__gen">
                <div class="hamburger__top">
                </div>
                <div class="hamburger__middle">
                </div>
              </div>
              <div class="menu-320-inner">
                <div class="close__box-320">
                  <div class="close__box-320-inner">

                  </div>
                </div>
                <ul class="menu__list-320">
                  <li class="menu__item-320">
                    <a class="menu__item-link-320" href="../index.html">
                      APIE MUS
                    </a>
                  </li>
                  <li class="menu__item-320 menu__item-320-produkcija">
                    <a class="menu__item-link-320" href="page-produkcija.html">
                      PRODUKCIJA
                    </a>
                  </li>
                  <li class="menu__item-320">
                    <a class="menu__item-link-320" href="page-galerija.html">
                      GALERIJA
                    </a>
                  </li>
                  <li class="menu__item-320">
                    <a class="menu__item-link-320" href="page-informacija.html">
                      informacija
                    </a>
                  </li>
                  <li class="menu__item-320">
                    <a class="menu__item-link-320" href="page-kontaktai.html">
                      KONTAKTAI
                    </a>
                  </li>
                </ul>
              </div>
            </nav>

            <div class="container">
              <div class="footer-sm__contacts-inner header-md__contacts-inner">
                <a class="footer-sm__phone header-md__phone" href="tel:+37069883182">
                  +370 698 83182
                </a>
                <div class="footer-sm__contacts-small header-md__contacts-small">
                  <a class="footer-sm__email header-md__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
                  <a class="footer-sm__address-link header-md__address-link"
                    href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
                    <address class="footer-sm__address header-md__address">
                      Šilutės pl. 21, 2a., Klaipėda
                    </address>
                  </a>
                </div>
              </div>
            </div>
            <!-- 320px end -->
            <a class="email footer-md__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
            <a class="phone footer-md__phone" href="tel:+37069883182">
              +370 698 83182
            </a>
          </div>
          <a class="footer-md__address-link" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
            <address class="footer-md__address">
              Šilutės pl. 21, 2a., Klaipėda
            </address>
          </a>
        </div>

        <!-- 768px end -->
      </div>
    </div>
    <div class="footer__small">
      <div class="container">
        <small>
          &#169; AKSWest. Visos teisės saugomos. Be sutikimo draudžiama kopijuoti ir platinti svetainėje
          esančią
          informaciją.
        </small>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/swiper-bundle.min.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>