<!DOCTYPE html>
<html lang="lt-LT">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="Profesionalus statybinių medžiagų tiekimas: čerpės - stoglangiai - lietaus surinkimo sistema - kaminai - dūmtraukiai - ventiliacijos sistema  - plytos - keraminiai blokai - Fibo blokai - putų polistirenas.">
  <meta name="keywords"
    content="čerpės, cerpes, stogu, stogų dangos, stoglangiai, lietvamzdziai, lietaus surinkimo sistema, kaminai, dūmtraukiai, plytos, keraminiai blokai, Fibo blokai, putų polistirenas, ventiliacijos sistema, monier, schiedel, Klaipėda, Klaipėdoje">
  <meta name="author" content="Nikolai Chernolutskii, Anastasiia Chernolutskaia">
  <title>AKS WEST - Velux Premium</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../css/fonts.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/media.css">
</head>

<body class="body">

  <header class="header">
    <div class="header__top header__top-index">
      <div class="container">
        <div class="header__top-inner">
          <div class="aks">
            <a class="aks__logo" href="../index.html">
              <picture>
                <source media="(max-width:425px)" srcset="../img/Logo-sm.png">
                <img src="../img/Logo.png" alt="AKS WEST">
              </picture>
            </a>
            <div class="aks__title">
              <h1>
                Profesionalus<br> statybinių medžiagų<br> tiekėjas
              </h1>
            </div>
          </div>
          <div class="awards">
            <picture>
                <source media="(max-width:425px)" srcset="../img/BNI-sm.png">
                <source media="(max-width:1150px)" srcset="../img/BNI-md.png">
                <img src="../img/BNI.png">
            </picture>
            <picture>
                <source media="(max-width:425px)" srcset="../img/Certificate-sm.png">
                <source media="(max-width:1150px)" srcset="../img/Certificate-md.png">
                <img src="../img/Certificate.png">
            </picture>
        </div>
          <div class="contacts header__contacts">
            <a class="phone header__phone" href="tel:+37069883182">+370 698 83182</a>
            <a class="email header__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 768px start-->
    <div class="header-md__contacts">
      <!-- 320px start -->
      <nav class="menu-320">
        <div class="hamburger__gen">
            <div class="hamburger__top">
            </div>
            <div class="hamburger__middle">
            </div>
        </div>
        <div class="menu-320-inner">
            <div class="close__box-320">
                <div class="close__box-320-inner">

                </div>
            </div>
            <ul class="menu__list-320">
                <li class="menu__item-320">
                    <a class="menu__item-link-320" href="../index.html">
                        APIE MUS
                    </a>
                </li>
                <li class="menu__item-320 menu__item-320-produkcija">
                    <a class="menu__item-link-320" href="page-produkcija.html">
                        PRODUKCIJA
                    </a>
                </li>
                <li class="menu__item-320">
                    <a class="menu__item-link-320" href="page-galerija.html">
                        GALERIJA
                    </a>
                </li>
                <li class="menu__item-320">
                    <a class="menu__item-link-320" href="page-informacija.html">
                        informacija
                    </a>
                </li>
                <li class="menu__item-320">
                    <a class="menu__item-link-320" href="page-kontaktai.html">
                        KONTAKTAI
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 320px end -->
      <div class="container">
        <div class="header-md__contacts-inner">
          <a class="header-md__phone" href="tel:+37069883182">
            +370 698 83182
          </a>
          <div class="header-md__contacts-small">
            <a class="header-md__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
            <a class="header-md__address" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="header-md__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- 768px end-->
    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom-inner">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__item-link" href="../index.html">
                  APIE MUS
                </a>
              </li>
              <li class="menu__item menu__item-produkcija">
                <a class="menu__item-link" href="page-produkcija.html">
                  PRODUKCIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-galerija.html">
                  GALERIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-informacija.html">
                  informacija
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-kontaktai.html">
                  KONTAKTAI
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="quality">
      <div class="container">
        <div class="quality__inner">
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-experience-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-experience-md_icon.png">
                <img src="../img/q-experience_icon.png" alt="patirtis">
              </picture>
            </div>
            <div class="quality__item-txt">
              daugiau nei 12 darbo metų
            </div>
          </div>
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-objects-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-objects-md_icon.png">
                <img src="../img/q-objects_icon.png" alt="objektai">
              </picture>
            </div>
            <div class="quality__item-txt">
              1500 <br> baigtų objektų
            </div>
          </div>
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-certificates-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-certificates-md_icon.png">
                <img src="../img/q-certificates_icon.png" alt="kokybė">
              </picture>
            </div>
            <div class="quality__item-txt">
              kokybės sertifikatai
            </div>
          </div>
          <div class="quality__item">
            <div class="quality__item-icon">
              <picture>
                <source media="(max-width:425px)" srcset="../img/q-indiv-sm_icon.png">
                <source media="(max-width:1210px)" srcset="../img/q-indiv-md_icon.png">
                <img src="../img/q-indiv_icon.png" alt="individualus biudžetas">
              </picture>
            </div>
            <div class="quality__item-txt">
              individualus biudžetas
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="partners__slider">
      <div class="container">
        <div class="partners__slider-inner">
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://www.velux.lt/">
                  <img src="../img/logo_velux.svg" alt="Velux">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://www.velux.lt/">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-velux.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-velux.png">
                  <img src="../img/banner-lg-velux.png" alt="Velux">
                </picture>
              </a>
            </div>
          </div>
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://www.bmigroup.com/lt">
                  <img src="../img/logo_monier.svg" alt="Monier">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://www.bmigroup.com/lt">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-monier.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-monier.png">
                  <img src="../img/banner-lg-monier.png" alt="Monier">
                </picture>
              </a>
            </div>
          </div>
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://www.schiedel.com/lt/">
                  <img src="../img/logo_schiedel.svg" alt="Schiedel">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://www.schiedel.com/lt/">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-schiedel.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-schiedel.png">
                  <img src="../img/banner-lg-schiedel.png" alt="Schiedel">
                </picture>
              </a>
            </div>
          </div>
          <div class="partners__slider-item">
            <div class="partners__slider-content">
              <div class="partners__slider-logobox">
                <h2 class="partners__slider-title">
                  Mūsų partneriai:
                </h2>
                <a class="partners__logo" target="_blank" href="https://baumit.lt/">
                  <img src="../img/logo_baumit.svg" alt="Baumit">
                </a>
              </div>
              <a class="partners__slider-banner" target="_blank" href="https://baumit.lt/">
                <picture>
                  <source media="(max-width:425px)" srcset="../img/banner-sm-baumit.png">
                  <source media="(max-width:1210px)" srcset="../img/banner-md-baumit.png">
                  <img src="../img/banner-lg-baumit.png" alt="Baumit">
                </picture>
              </a>
            </div>
          </div>
        </div>
    </section>

    <section class="velux__product velux__premium">
      <div class="container clearfix">
        <div class="velux__title velux__title-premium">
          <img src="../img/velux__premium.png" alt="Velux__Premium">
        </div>
        <div class="velux__product-inner velux__product-inner-premium">
          <div class="velux__product-item velux__product-item-light velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GGL3068.png" alt="GGL3068">
              </div>
              <div class="velux__product-item-title">
                VELUX "Premium" langas su viršutine rankena ir 2 kamerų stiklo paketu
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GGL 3068</p>
              </div>
              <div class="velux__product-item-description">
                Medinis, skaidriu laku nulakuotas stogo langas varstomas ergonomiška viršutine rankena; jame integruota orlaide su filtru nuo dulkių ir vabzdžių. Patalpas galima vėdinti net tuomet, kai langas uždarytas. Vidinis lango stiklas yra laminuotas, todėl suteiks saugumo bei sumažins triukšmo, sklindančio iš lauko, lygį.  Yra galimybė įrengti nuotolinio valdymo sistemą. Langas su ThermoTechnology™ sistema bei 2 kamerų stiklo paketu, todėl yra energiškai efektyvus, jo Uw - 1,1. Gaminiui suteikiama 10 metų garantija. Langą galima apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GGU0068.png" alt="GGU0068">
              </div>
              <div class="velux__product-item-title">
                VELUX "Premium" langas su viršutine rankena, poliuretano danga ir 2 kamerų stiklo paketu
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GGU 0068</p>
              </div>
              <div class="velux__product-item-description">
                Medinis baltu poliuretano sluoksniu padengtas stogo langas varstomas ergonomiška viršutine rankena; jame integruota orlaide su filtru nuo dulkių ir vabzdžių. Patalpas galima vėdinti net tuomet, kai langas uždarytas. Drėgmei atsparaus paviršiaus nereikia perdažyti, jo priežiūra - minimali. Dėl unikalios liejimo būdu pagamintos konstrukcijos, langą lengva valyti, nes kampuose nėra sujungimų. Puikiai tinka montuoti patalpose, kuriose daugiau drėgmės: voniose, virtuvėse, oranžerijose ir pan.  Vidinis lango stiklas yra laminuotas, todėl suteiks saugumo bei sumažins triukšmo, sklindančio iš lauko, lygį.  Yra galimybė įrengti nuotolinio valdymo sistemą. Langas su ThermoTechnology™ sistema bei 2 kamerų stiklo paketu, todėl yra energiškai efektyvus, jo Uw - 1,1. Šiam gaminiui suteikiama 15 metų garantija lango paviršiui ir 10 metų - visai lango konstrukcijai. Langą galima apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms. 
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GPL3070.png" alt="GPL3070">
              </div>
              <div class="velux__product-item-title">
                Dvejopo varstymo VELUX "Premium" panoraminis stogo langas 
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GPL 3070</p>
              </div>
              <div class="velux__product-item-description">
                Šį stogo langą su vyriais viršutinėje dalyje galėsite plačiai atidaryti, išstumdami varčią į lauką, ir nekliudomai grožėtis vaizdu pro langą bei įsileisti į kambarį maksimalų dienos šviesos kiekį. Langą taip pat galima apversti 180° laipsnių kampu bei patogiai ir saugiai išvalyti. Įrengta izoliacijos sistema ThermoTechnology™ išsaugos šilumą namuose, kai lauke bus šalta. Galima įsigyti langą su ekonomišku 1 kameros laminuotu stiklo paketu (modeliai GPL 3070) arba energiškai efektyvesnį – su 2 kamerų stiklo paketu (GPL 3068, GPL 3066). Gaminiui suteikiama 10 metų garantija. Langą galima apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GPU006621.png" alt="GPU006621">
              </div>
              <div class="velux__product-item-title">
                VELUX "Premium" INTEGRA panoraminis stogo langas
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GPU 006621</p>
              </div>
              <div class="velux__product-item-description">
                GPU INTEGRA® su vyriais viršutinėje lango dalyje yra vienas iš komfortiškiausių stogo langų. Šis modelis yra valdomas nuotoliniu būdu, tačiau taip pat gali būti varstomas rankiniu būdu. Pro langą atsiveria puikus panoraminis vaizdas, tad jausitės lyg stovėdami balkone, o į kambarį įsileisite maksimalų dienos šviesos kiekį. Langas atsiveria 45 laipsnių kampu. Prasidėjus lietui, jutiklių pagalba langas užsidarys automatiškai. GPU INTEGRA® stogo langą rekomenduojame susieti su vidaus mikroklimato valdymo sistema VELUX ACTIVE. Lango spalva – balta (RAL 9003). Langą galima apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GPU0070.png" alt="GPU0070">
              </div>
              <div class="velux__product-item-title">
                Dvejopo varstymo VELUX "Premium" panoraminis stogo langas, padengtas poliuretanu
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GPU 0070</p>
              </div>
              <div class="velux__product-item-description">
                Šį poliuretanu padengtą stogo langą su vyriais viršutinėje dalyje galėsite plačiai atidaryti, išstumdami varčią į lauką, ir nekliudomai grožėtis vaizdu pro langą bei įsileisti į kambarį maksimalų dienos šviesos kiekį. Drėgmei atsparaus balto paviršiaus nereikia perdažyti, jo priežiūra - minimali. Dėl unikalios liejimo būdu pagamintos konstrukcijos, langą lengva valyti, nes kampuose nėra sujungimų. Puikiai tinka montuoti patalpose, kuriose daugiau drėgmės: voniose, virtuvėse, oranžerijose ir pan.   Įrengta izoliacijos sistema ThermoTechnology™ išsaugos šilumą namuose, kai lauke bus šalta. 
                Galima įsigyti langą su ekonomišku 1 kameros laminuotu  stiklo paketu (modeliai GPU 0070) arba energiškai efektyvesnį – su 2 kamerų stiklo paketu (GPU 0068, GPU 0066).Šiam gaminiui suteikiama 15 metų garantija lango paviršiui ir 10 metų - visai lango konstrukcijai. Langą galima apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GGL3066.png" alt="GGL3066">
              </div>
              <div class="velux__product-item-title">
                VELUX "Premium" langas su viršutine rankena ir 2 kamerų stiklo paketu
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GGL 3066</p>
              </div>
              <div class="velux__product-item-description">
                Energiškai efektyvus medinis stogo langas su ergonomiška viršutine rankena bei integruota orlaide su specialiu filtru, apsaugančiu nuo dulkių ir vabzdžių. Unikali ThermoTechnology™ sistema, papildoma sandarumo tarpinė bei 2 kamerų stiklo paketas (Uw 1,0) suteikia puikią šilumos izoliaciją ir sukuria namuose komfortą. Stiklo paketas padengtas specialia išorine danga, kurios dėka langas mažiau rasoja iš išorės ir jį daug lengviau išvalyti. Gaminiui suteikiama 10 metų garantija.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/VELUX__GGU0066.png" alt="GGU0066">
              </div>
              <div class="velux__product-item-title">
                VELUX "Premium" langas su viršutine rankena ir 2 kamerų stiklo paketu, padengtas poliuretanu
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GGU 0066</p>
              </div>
              <div class="velux__product-item-description">
                Energiškai efektyvus medinis poliuretanu padengtas stogo langas su ergonomiška viršutine rankena bei integruota orlaide su specialiu filtru, apsaugančiu nuo dulkių ir vabzdžių.  Drėgmei atsparaus balto paviršiaus nereikia perdažyti, jo priežiūra - minimali. Dėl unikalios liejimo būdu pagamintos konstrukcijos, langą lengva valyti, nes kampuose nėra sujungimų. Puikiai tinka montuoti patalpose, kuriose daugiau drėgmės: voniose, virtuvėse, oranžerijose ir pan. Unikali ThermoTechnology™ sistema, papildoma sandarumo tarpinė bei 2 kamerų stiklo paketas (Uw 1,0) suteikia puikią šilumos izoliaciją ir sukuria namuose komfortą. Stiklo paketas padengtas specialia danga, kurios dėka langas mažiau rasoja iš išorės ir jį daug lengviau išvalyti. Šiam gaminiui suteikiama 15 metų garantija lango paviršiui ir 10 metų - visai lango konstrukcijai. Langą galima apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GGL306821.png" alt="GGL306821">
              </div>
              <div class="velux__product-item-title">
                VELUX "Premium" langas INTEGRA su 2 kamerų stiklo paketu
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GGL 306821</p>
              </div>
              <div class="velux__product-item-description">
                Jeigu norite mėgautis maksimaliu komfortu, VELUX INTEGRA langas yra teisingas pasirinkimas. Šis langas valdomas nuotoliniu būdu; ant jo taip pat galima įrengti nuotoliniu būdu valdomas užuolaidėles, markizes arba išorines žaliuzes. Į komplektą įeina lietaus jutiklis, todėl vos tik pradėjus lyti, langas automatiškai užsidarys. Maitinimas - elektros energija; galima įsigyti ir modelį, valdomą saulės energija. Medinis stogo langas nulakuotas skaidriu laku (galima įsigyti ir baltą padengtą poliuretanu). Valdymas - nuotolinio valdymo pulteliu. Unikali ThermoTechnology™ sistema, papildoma sandarumo tarpinė bei 2 kamerų stiklo paketas (Uw 1,1) suteikia puikią šilumos izoliaciją. Gaminiui suteikiama 10 metų garantija. Langą galima apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GGU006821.png" alt="GGU006821">
              </div>
              <div class="velux__product-item-title">
                VELUX "Premium" langas INTEGRA su 2 kamerų stiklo paketu, padengtas poliuretanu
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GGU 006821</p>
              </div>
              <div class="velux__product-item-description">
                Jeigu norite mėgautis maksimaliu komfortu, VELUX INTEGRA langas yra teisingas pasirinkimas. Šis langas valdomas nuotoliniu būdu; ant jo taip pat galima įrengti nuotoliniu būdu valdomas užuolaidėles, markizes arba išorines žaliuzes. Į komplektą įeina lietaus jutiklis, todėl vos tik pradėjus lyti, langas automatiškai užsidarys. Maitinimas — elektros energija; galima įsigyti ir modelį, valdomą saulės energija. Medinis stogo langas padengtas balta poliuretano danga, todėl nereikalauja priežiūros ir tinka drėgnoms patalpoms. Valdymas — nuotolinio valdymo pulteliu. Unikali ThermoTechnology™ sistema, papildoma sandarumo tarpinė bei 2 kamerų stiklo paketas (Uw 1,1) suteikia puikią šilumos izoliaciją. Šiam gaminiui suteikiama 15 metų garantija lango paviršiui ir 10 metų — visai lango konstrukcijai.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GPL-GIL.png" alt="GPL-GIL">
              </div>
              <div class="velux__product-item-title">
                VELUX "Premium" panoraminio bei papildomo langų kombinacija
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GPL + GIL </p>
              </div>
              <div class="velux__product-item-description">
                Panoraminis stogo langas sumontuotas kartu su papildomu nevarstomu apatiniu langu atvers puikų vaizdą bei įleis į kambarį daug dienos šviesos. Mediniai skaidriu laku nulakuoti stogo langai tiks jaukiam interjerui. Viršutinis langas varstomas viršutine bei apatine rankenomis. Jame integruota orlaide su specialiu filtru, apsaugančiu nuo dulkių ir vabzdžių. Unikali ThermoTechnology™ sistema, papildoma sandarumo tarpinė bei papildoma sandarumo tarpinė suteikia puikią šilumos izoliaciją ir sukuria namuose komfortą. Gaminiams galioja 10 metų garantija. Viršutinį langą galima apversti 180 laipsnių kampu ir išvalyti. Yra laikikliai užuolaidėlėms.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-dark velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GGU008230.png" alt="GGU008230">
              </div>
              <div class="velux__product-item-title">
                VELUX stogo langas pasyviam namui
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GGU 008230</p>
              </div>
              <div class="velux__product-item-description">
                Stogo langas sertifikuotas pasyviam namui, šalto klimato
                regionams. Pagamintas iš išorinio trigubo stiklo paketo ir papildomo vidinio dvigubo stiklo paketo, todėl šilumos laidumo koeficientas Uw siekia vos Uw 0,51 W/(m2K). Tai yra geriausias rodiklis pasaulyje. Stogo langas maitinamas saulės energija ir komplektuojamas su valdymo pulteliu, kuriuo patogiai valdysite stogo langą vienu prisilietimu. Langas pagamintas iš medienos ir padengtas balta, nereikalaujančia priežiūros poliuretano danga. Šiam gaminiui suteikiama 15 metų garantija lango paviršiui ir 10 metų - visai lango konstrukcijai.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GGLS2070.png" alt="GGLS2070">
              </div>
              <div class="velux__product-item-title">
                VELUX Studio trio
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GGLS 2070</p>
              </div>
              <div class="velux__product-item-description">
                Naujojo VELUX sprendimo VELUX "Studio trio" privalumai – daugiau dienos šviesos ir gaivaus oro kambaryje bei platesnis vaizdas pro langą. Viename rėme – trys langai, vidurinis langas nevarstomas, šoniniai langai varstomi viršutine rankena. Šiam langui montuoti gaminamos specialios montavimo tarpinės, todėl montavimas paprastas ir greitas. Trijų langų kombinacija atrodo itin elegentiškai, ji optiškai praplečia erdvę ir tinka šiuolaikiškiems interjerams. Šis sprendimas tinka tiems kambariams, kuriems reikia dienos šviesos. Gaminamas baltai dažytas, su vienos ar dviejų kamerų stiklo paketu, dviejų dydžių. GGLS 2066 šiluminis laidumas Uw yra 1,2, o GGLS 2070 – 1,5.
              </div>
            </div>
          </div>
          <div class="velux__product-item velux__product-item-light velux__product-item-premium">
            <div class="velux__product-item-inner velux__product-item-inner-premium">
              <div class="velux__product-item-img">
                <img src="../img/velux__GGLS2066.png" alt="GGLS2066">
              </div>
              <div class="velux__product-item-title">
                VELUX Studio trio
              </div>
              <div class="velux__product-item-code">
                <p>Gaminio kodas:</p>
                <p>GGLS 2066</p>
              </div>
              <div class="velux__product-item-description">
                Naujojo VELUX sprendimo VELUX "Studio trio" privalumai – daugiau dienos šviesos ir gaivaus oro kambaryje bei platesnis vaizdas pro langą. Viename rėme – trys langai, vidurinis langas nevarstomas, šoniniai langai varstomi viršutine rankena. Šiam langui montuoti gaminamos specialios montavimo tarpinės, todėl montavimas paprastas ir greitas. Trijų langų kombinacija atrodo itin elegentiškai, ji optiškai praplečia erdvę ir tinka šiuolaikiškiems interjerams. Šis sprendimas tinka tiems kambariams, kuriems reikia daugiau dienos šviesos. Gaminamas baltai dažytas, su vienos ar dviejų kamerų stiklo paketu, dviejų dydžių. GGLS 2066 šiluminis laidumas Uw yra 1,2, o GGLS 2070 – 1,5.
              </div>
            </div>
          </div>
        </div>
        <div class="gallery__link gallery__link-velux-product">
          <a href="page-galerija-velux.html">žiūrėti galeriją Velux</a>
        </div>
      
    </section>

    <!-- SECTION app__call START -->

   <section class="app__call app__call-products__example app__call-products__example-425">
    <div class="container">
      <div class="app__call-inner">
        <div class="app__call-title">
          Reikia konsultacijos? Susisiekite su mumis!
        </div>
        <div class="app__call-info app__call-info-products__example">
          <div class="app__call-info-official app__call-info-official-products__example">
            <a href="page-kontaktai.html">rekvizitai</a>
          </div>
          <div class="app__call-info-contacts">
            <div class="app__call-info-phone">
              <a href="tel:+37069883182">+370 698 83182</a>
            </div>
            <div class="app__call-info-email">
              <a href="mailto:akswest@gmail.com ">akswest@gmail.com </a>
            </div>
            <a class="app__call-info-address" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="header-md__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>

        <!-- 630px START -->
        <div class="app__call-info app__call-info-products__example-630">
          <div class="app__call-info-official app__call-info-official-products__example">
            <a href="page-kontaktai.html">rekvizitai</a>
          </div>
          <div class="app__call-info-contacts-630">
            <div class="app__call-info-phone-630">
              <a href="tel:+37069883182">+370 698 83182</a>
            </div>
            <div class="app__call-info-email-630">
              <a href="mailto:akswest@gmail.com ">akswest@gmail.com </a>
            </div>
            <a class="app__call-info-address-630" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="header-md__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>
        <!-- 630px END -->
      </div>
    </div>
  </section>

  </main>

  <footer class="footer">
    <div class="footer__main">
      <div class="container">
        <div class="footer__top">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__item-link" href="../index.html">
                  APIE MUS
                </a>
              </li>
              <li class="menu__item menu__item-produkcija">
                <a class="menu__item-link" href="page-produkcija.html">
                  PRODUKCIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-galerija.html">
                  GALERIJA
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-informacija.html">
                  informacija
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__item-link" href="page-kontaktai.html">
                  KONTAKTAI
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__bottom">
          <div class="aks">
            <a class="aks__logo" href="../index.html">
              <img src="../img/Logo__footer.png" alt="AKS WEST">
            </a>
            <div class="aks__title">
              <h2>
                Profesionalus<br> statybinių<br> medžiagų<br> tiekėjas
              </h2>
            </div>
          </div>
          <a class="phone footer__phone" href="tel:+37069883182">
            +370 698 83182
          </a>
          <div class="contacts footer__contacts">
            <a class="email footer__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
            <a href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" class="footer__address" target="_blank">
              <address class="footer__address">
                Šilutės pl. 21, 2a., Klaipėda
              </address>
            </a>
          </div>
        </div>
        <!-- 768px start -->

        <div class="footer-md__bottom">
          <div class="aks">
              <a class="aks__logo" href="index.html">
                  <img src="../img/Logo__footer.png" alt="AKS WEST">
              </a>
              <div class="aks__title">
                  <h2>
                      Profesionalus<br> statybinių<br> medžiagų<br> tiekėjas
                  </h2>
              </div>
          </div>
          <div class="contacts footer-md__contacts">
              <!-- 320px start -->
              <nav class="menu-320">
                  <div class="hamburger__gen">
                      <div class="hamburger__top">
                      </div>
                      <div class="hamburger__middle">
                      </div>
                  </div>
                  <div class="menu-320-inner">
                      <div class="close__box-320">
                          <div class="close__box-320-inner">

                          </div>
                      </div>
                      <ul class="menu__list-320">
                          <li class="menu__item-320">
                              <a class="menu__item-link-320" href="../index.html">
                                  APIE MUS
                              </a>
                          </li>
                          <li class="menu__item-320 menu__item-320-produkcija">
                              <a class="menu__item-link-320" href="page-produkcija.html">
                                  PRODUKCIJA
                              </a>
                          </li>
                          <li class="menu__item-320">
                              <a class="menu__item-link-320" href="page-galerija.html">
                                  GALERIJA
                              </a>
                          </li>
                          <li class="menu__item-320">
                              <a class="menu__item-link-320" href="page-informacija.html">
                                  informacija
                              </a>
                          </li>
                          <li class="menu__item-320">
                              <a class="menu__item-link-320" href="page-kontaktai.html">
                                  KONTAKTAI
                              </a>
                          </li>
                      </ul>
                  </div>
              </nav>

              <div class="container">
                  <div class="footer-sm__contacts-inner header-md__contacts-inner">
                      <a class="footer-sm__phone header-md__phone" href="tel:+37069883182">
                          +370 698 83182
                      </a>
                      <div class="footer-sm__contacts-small header-md__contacts-small">
                          <a class="footer-sm__email header-md__email"
                              href="mailto:akswest@gmail.com">akswest@gmail.com</a>
                          <a class="footer-sm__address-link header-md__address-link"
                              href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
                              <address class="footer-sm__address header-md__address">
                                  Šilutės pl. 21, 2a., Klaipėda
                              </address>
                          </a>
                      </div>
                  </div>
              </div>
              <!-- 320px end -->
              <a class="email footer-md__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
              <a class="phone footer-md__phone" href="tel:+37069883182">
                  +370 698 83182
              </a>
          </div>
          <a class="footer-md__address-link" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
              <address class="footer-md__address">
                  Šilutės pl. 21, 2a., Klaipėda
              </address>
          </a>
      </div>

      <!-- 768px end -->
  </div>
</div>
<div class="footer__small">
  <div class="container">
      <small>
          &#169; AKSWest. Visos teisės saugomos. Be sutikimo draudžiama kopijuoti ir platinti svetainėje
          esančią
          informaciją.
      </small>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/swiper-bundle.min.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>