<!DOCTYPE html>
<html lang="lt-LT">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="Profesionalus statybinių medžiagų tiekimas: čerpės - stoglangiai - lietaus surinkimo sistema - kaminai - dūmtraukiai - ventiliacijos sistema  - plytos - keraminiai blokai - Fibo blokai - putų polistirenas.">
    <meta name="keywords"
        content="čerpės, cerpes, stogu, stogų dangos, stoglangiai, lietvamzdziai, lietaus surinkimo sistema, kaminai, dūmtraukiai, plytos, keraminiai blokai, Fibo blokai, putų polistirenas, ventiliacijos sistema, monier, schiedel, Klaipėda, Klaipėdoje">
    <meta name="author" content="Nikolai Chernolutskii, Anastasiia Chernolutskaia">
    <title>AKS WEST - Galerija - Polistirenas</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
</head>

<body class="body">

    <header class="header">
        <div class="header__top header__top-index">
            <div class="container">
                <div class="header__top-inner">
                    <div class="aks">
                        <a class="aks__logo" href="../index.html">
                            <picture>
                                <source media="(max-width:425px)" srcset="../img/Logo-sm.png">
                                <img src="../img/Logo.png" alt="AKS WEST">
                            </picture>
                        </a>
                        <div class="aks__title">
                            <h1>
                                Profesionalus<br> statybinių medžiagų<br> tiekėjas
                            </h1>
                        </div>
                    </div>
                    <div class="awards">
                        <picture>
                            <source media="(max-width:425px)" srcset="../img/BNI-sm.png">
                            <source media="(max-width:1150px)" srcset="../img/BNI-md.png">
                            <img src="../img/BNI.png">
                        </picture>
                        <picture>
                            <source media="(max-width:425px)" srcset="../img/Certificate-sm.png">
                            <source media="(max-width:1150px)" srcset="../img/Certificate-md.png">
                            <img src="../img/Certificate.png">
                        </picture>
                    </div>
                    <div class="contacts header__contacts">
                        <a class="phone header__phone" href="tel:+37069883182">+370 698 83182</a>
                        <a class="email header__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 768px start-->
        <div class="header-md__contacts">
            <!-- 320px start -->
            <nav class="menu-320">
                <div class="hamburger__gen">
                    <div class="hamburger__top">
                    </div>
                    <div class="hamburger__middle">
                    </div>
                </div>
                <div class="menu-320-inner">
                    <div class="close__box-320">
                        <div class="close__box-320-inner">

                        </div>
                    </div>
                    <ul class="menu__list-320">
                        <li class="menu__item-320">
                            <a class="menu__item-link-320" href="../index.html">
                                APIE MUS
                            </a>
                        </li>
                        <li class="menu__item-320">
                            <a class="menu__item-link-320" href="page-produkcija.html">
                                PRODUKCIJA
                            </a>
                        </li>
                        <li class="menu__item-320 menu__item-320-galerija">
                            <a class="menu__item-link-320" href="page-galerija.html">
                                GALERIJA
                            </a>
                        </li>
                        <li class="menu__item-320">
                            <a class="menu__item-link-320" href="page-informacija.html">
                                informacija
                            </a>
                        </li>
                        <li class="menu__item-320">
                            <a class="menu__item-link-320" href="page-kontaktai.html">
                                KONTAKTAI
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- 320px end -->
            <div class="container">
                <div class="header-md__contacts-inner">
                    <a class="header-md__phone" href="tel:+37069883182">
                        +370 698 83182
                    </a>
                    <div class="header-md__contacts-small">
                        <a class="header-md__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
                        <a class="header-md__address" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
                            <address class="header-md__address">
                                Šilutės pl. 21, 2a., Klaipėda
                            </address>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 768px end-->
        <div class="header__bottom">
            <div class="container">
                <div class="header__bottom-inner">
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__item-link" href="../index.html">
                                    APIE MUS
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="page-produkcija.html">
                                    PRODUKCIJA
                                </a>
                            </li>
                            <li class="menu__item menu__item-galerija">
                                <a class="menu__item-link" href="page-galerija.html">
                                    GALERIJA
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="page-informacija.html">
                                    informacija
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="page-kontaktai.html">
                                    KONTAKTAI
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="quality">
            <div class="container">
                <div class="quality__inner">
                    <div class="quality__item">
                        <div class="quality__item-icon">
                            <picture>
                                <source media="(max-width:425px)" srcset="../img/q-experience-sm_icon.png">
                                <source media="(max-width:1210px)" srcset="../img/q-experience-md_icon.png">
                                <img src="../img/q-experience_icon.png" alt="patirtis">
                            </picture>
                        </div>
                        <div class="quality__item-txt">
                            daugiau nei 12 darbo metų
                        </div>
                    </div>
                    <div class="quality__item">
                        <div class="quality__item-icon">
                            <picture>
                                <source media="(max-width:425px)" srcset="../img/q-objects-sm_icon.png">
                                <source media="(max-width:1210px)" srcset="../img/q-objects-md_icon.png">
                                <img src="../img/q-objects_icon.png" alt="objektai">
                            </picture>
                        </div>
                        <div class="quality__item-txt">
                            1500 <br> baigtų objektų
                        </div>
                    </div>
                    <div class="quality__item">
                        <div class="quality__item-icon">
                            <picture>
                                <source media="(max-width:425px)" srcset="../img/q-certificates-sm_icon.png">
                                <source media="(max-width:1210px)" srcset="../img/q-certificates-md_icon.png">
                                <img src="../img/q-certificates_icon.png" alt="kokybė">
                            </picture>
                        </div>
                        <div class="quality__item-txt">
                            kokybės sertifikatai
                        </div>
                    </div>
                    <div class="quality__item">
                        <div class="quality__item-icon">
                            <picture>
                                <source media="(max-width:425px)" srcset="../img/q-indiv-sm_icon.png">
                                <source media="(max-width:1210px)" srcset="../img/q-indiv-md_icon.png">
                                <img src="../img/q-indiv_icon.png" alt="individualus biudžetas">
                            </picture>
                        </div>
                        <div class="quality__item-txt">
                            individualus biudžetas
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="partners__slider">
            <div class="container">
                <div class="partners__slider-inner">
                    <div class="partners__slider-item">
                        <div class="partners__slider-content">
                            <div class="partners__slider-logobox">
                                <h2 class="partners__slider-title">
                                    Mūsų partneriai:
                                </h2>
                                <a class="partners__logo" target="_blank" href="https://www.velux.lt/">
                                    <img src="../img/logo_velux.svg" alt="Velux">
                                </a>
                            </div>
                            <a class="partners__slider-banner" target="_blank" href="https://www.velux.lt/">
                                <picture>
                                    <source media="(max-width:425px)" srcset="../img/banner-sm-velux.png">
                                    <source media="(max-width:1210px)" srcset="../img/banner-md-velux.png">
                                    <img src="../img/banner-lg-velux.png" alt="Velux">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="partners__slider-item">
                        <div class="partners__slider-content">
                            <div class="partners__slider-logobox">
                                <h2 class="partners__slider-title">
                                    Mūsų partneriai:
                                </h2>
                                <a class="partners__logo" target="_blank" href="https://www.bmigroup.com/lt">
                                    <img src="../img/logo_monier.svg" alt="Monier">
                                </a>
                            </div>
                            <a class="partners__slider-banner" target="_blank" href="https://www.bmigroup.com/lt">
                                <picture>
                                    <source media="(max-width:425px)" srcset="../img/banner-sm-monier.png">
                                    <source media="(max-width:1210px)" srcset="../img/banner-md-monier.png">
                                    <img src="../img/banner-lg-monier.png" alt="Monier">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="partners__slider-item">
                        <div class="partners__slider-content">
                            <div class="partners__slider-logobox">
                                <h2 class="partners__slider-title">
                                    Mūsų partneriai:
                                </h2>
                                <a class="partners__logo" target="_blank" href="https://www.schiedel.com/lt/">
                                    <img src="../img/logo_schiedel.svg" alt="Schiedel">
                                </a>
                            </div>
                            <a class="partners__slider-banner" target="_blank" href="https://www.schiedel.com/lt/">
                                <picture>
                                    <source media="(max-width:425px)" srcset="../img/banner-sm-schiedel.png">
                                    <source media="(max-width:1210px)" srcset="../img/banner-md-schiedel.png">
                                    <img src="../img/banner-lg-schiedel.png" alt="Schiedel">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="partners__slider-item">
                        <div class="partners__slider-content">
                            <div class="partners__slider-logobox">
                                <h2 class="partners__slider-title">
                                    Mūsų partneriai:
                                </h2>
                                <a class="partners__logo" target="_blank" href="https://baumit.lt/">
                                    <img src="../img/logo_baumit.svg" alt="Baumit">
                                </a>
                            </div>
                            <a class="partners__slider-banner" target="_blank" href="https://baumit.lt/">
                                <picture>
                                    <source media="(max-width:425px)" srcset="../img/banner-sm-baumit.png">
                                    <source media="(max-width:1210px)" srcset="../img/banner-md-baumit.png">
                                    <img src="../img/banner-lg-baumit.png" alt="Baumit">
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
        </section>

        <div class="galerija__heading">
            <h2>GALERIJA</h2>
        </div>

        <!-- SECTION products__example-info-official START -->
        <section class="products__example-info-official">
            <div class="container">
                <div
                    class="products__example-info-official-inner products__example-info-official-inner-galerija products__example-info-official-inner-polistirenas">
                    <span>
                        <a href="../index.html">AKS West Home</a>
                    </span>
                    <h3>
                        ŠILOPORAS
                    </h3>
                </div>
            </div>
        </section>
        <!-- SECTION products__example-info-official END -->

        <!-- SECTION gallery__slick-slider START -->

        <div class="slick-slider gallery__slick-slider gallery__slick-slider-galerija">
            <div class="slick-slide">
              <div class="slick-slide__inner">
                <img src="../img/Products_Polistirenas-01.jpg" alt="Sample product">
              </div>
              <div class="slick-slide__txt-horizontal">
                <span>Šiloporas</span>
                <span>Polistirenas</span>
              </div>
              <div class="slick-slide__txt-vertical">
                <p>01-004</p>
              </div>
            </div>
            <div class="slick-slide">
              <div class="slick-slide__inner">
                <img src="../img/Products_Polistirenas-02.jpg" alt="Sample product">
              </div>
              <div class="slick-slide__txt-horizontal">
                <span>Šiloporas</span>
                <span>Polistirenas</span>
              </div>
              <div class="slick-slide__txt-vertical">
                <p>02-004</p>
              </div>
            </div>
            <div class="slick-slide">
              <div class="slick-slide__inner">
                <img src="../img/Products_Polistirenas-03.jpg" alt="Sample product">
              </div>
              <div class="slick-slide__txt-horizontal">
                <span>Šiloporas</span>
                <span>Polistirenas</span>
              </div>
              <div class="slick-slide__txt-vertical">
                <p>03-004</p>
              </div>
            </div>
            <div class="slick-slide">
              <div class="slick-slide__inner">
                <img src="../img/Products_Polistirenas-04.jpg" alt="Sample product">
              </div>
              <div class="slick-slide__txt-horizontal">
                <span>Šiloporas</span>
                <span>Polistirenas</span>
              </div>
              <div class="slick-slide__txt-vertical">
                <p>04-004</p>
              </div>
            </div>
          </div>

        <!-- SECTION gallery__slick-slider END -->

        <!-- SECTION app__call START -->

    <section class="app__call app__call-products__example app__call-products__example-425">
        <div class="container">
          <div class="app__call-inner">
            <div class="app__call-title">
              Reikia konsultacijos? Susisiekite su mumis!
            </div>
            <div class="app__call-info app__call-info-products__example">
              <div class="app__call-info-official app__call-info-official-products__example">
                <a href="page-kontaktai.html">rekvizitai</a>
              </div>
              <div class="app__call-info-contacts">
                <div class="app__call-info-phone">
                  <a href="tel:+37069883182">+370 698 83182</a>
                </div>
                <div class="app__call-info-email">
                  <a href="mailto:akswest@gmail.com ">akswest@gmail.com </a>
                </div>
                <a class="app__call-info-address" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
                  <address class="header-md__address">
                    Šilutės pl. 21, 2a., Klaipėda
                  </address>
                </a>
              </div>
            </div>
  
            <!-- 630px START -->
            <div class="app__call-info app__call-info-products__example-630">
              <div class="app__call-info-official app__call-info-official-products__example">
                <a href="page-kontaktai.html">rekvizitai</a>
              </div>
              <div class="app__call-info-contacts-630">
                <div class="app__call-info-phone-630">
                  <a href="tel:+37069883182">+370 698 83182</a>
                </div>
                <div class="app__call-info-email-630">
                  <a href="mailto:akswest@gmail.com ">akswest@gmail.com </a>
                </div>
                <a class="app__call-info-address-630" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
                  <address class="header-md__address">
                    Šilutės pl. 21, 2a., Klaipėda
                  </address>
                </a>
              </div>
            </div>
            <!-- 630px END -->
          </div>
        </div>
      </section>
  
      <!-- SECTION app__call END -->

        <!-- SECTION products__example-gallery START -->
        <section class="products__example-gallery products__example-gallery-velux">
            <div class="container">
                <div class="products__example-gallery-inner products__example-gallery-inner-velux">
                    <h3 class="products__example-gallery-title">
                        KITOS GALERIJOS
                    </h3>
                    <div class="products__example-gallery-list">
                        <ul>
                            <li class="products__example-gallery-list__item">
                                <a href="page-galerija-dangos.html">
                                    <span>
                                        monier
                                    </span>
                                    <span>
                                        DANGOS
                                    </span>
                                    <span>
                                        01-027
                                    </span>
                                </a>
                            </li>
                            <li class="products__example-gallery-list__item">
                                <a href="page-galerija-kaminai.html">
                                    <span>
                                        SCHIEDEL
                                    </span>
                                    <span>
                                        KAMINAI
                                    </span>
                                    <span>
                                        01-016
                                    </span>
                                </a>
                            </li>
                            <li class="products__example-gallery-list__item">
                                <a href="page-galerija-polistirenas.html">
                                    <span>
                                        Šiloporas
                                    </span>
                                    <span>
                                        PUTŲ POLISTIRENAS
                                    </span>
                                    <span>
                                        01-004
                                    </span>
                                </a>
                            </li>
                            <li class="products__example-gallery-list__item">
                                <a href="page-galerija-velux.html">
                                    <span>
                                        VELUX
                                    </span>
                                    <span>
                                        STOGLANGIAI
                                    </span>
                                    <span>
                                        01-026
                                    </span>
                                </a>
                            </li>
                            <li class="products__example-gallery-list__item">
                                <a href="page-galerija-baumit.html">
                                    <span>
                                        BAUMIT
                                    </span>
                                    <span>
                                        STATYBINIAI MIŠINIAI
                                    </span>
                                    <span>
                                        01-011
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- SECTION products__example-gallery END -->

    </main>

    <footer class="footer">
        <div class="footer__main">
            <div class="container">
                <div class="footer__top">
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__item-link" href="../index.html">
                                    APIE MUS
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="page-produkcija.html">
                                    PRODUKCIJA
                                </a>
                            </li>
                            <li class="menu__item menu__item-galerija">
                                <a class="menu__item-link" href="page-galerija.html">
                                    GALERIJA
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="page-informacija.html">
                                    informacija
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__item-link" href="page-kontaktai.html">
                                    KONTAKTAI
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__bottom">
                    <div class="aks">
                        <a class="aks__logo" href="../index.html">
                            <img src="../img/Logo__footer.png" alt="AKS WEST">
                        </a>
                        <div class="aks__title">
                            <h2>
                                Profesionalus<br> statybinių<br> medžiagų<br> tiekėjas
                            </h2>
                        </div>
                    </div>
                    <a class="phone footer__phone" href="tel:+37069883182">
                        +370 698 83182
                    </a>
                    <div class="contacts footer__contacts">
                        <a class="email footer__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
                        <a href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" class="footer__address" target="_blank">
                            <address class="footer__address">
                                Šilutės pl. 21, 2a., Klaipėda
                            </address>
                        </a>
                    </div>
                </div>
                <!-- 768px start -->

                <div class="footer-md__bottom">
                    <div class="aks">
                        <a class="aks__logo" href="index.html">
                            <img src="../img/Logo__footer.png" alt="AKS WEST">
                        </a>
                        <div class="aks__title">
                            <h2>
                                Profesionalus<br> statybinių<br> medžiagų<br> tiekėjas
                            </h2>
                        </div>
                    </div>
                    <div class="contacts footer-md__contacts">
                        <!-- 320px start -->
                        <nav class="menu-320">
                            <div class="hamburger__gen">
                                <div class="hamburger__top">
                                </div>
                                <div class="hamburger__middle">
                                </div>
                            </div>
                            <div class="menu-320-inner">
                                <div class="close__box-320">
                                    <div class="close__box-320-inner">

                                    </div>
                                </div>
                                <ul class="menu__list-320">
                                    <li class="menu__item-320">
                                        <a class="menu__item-link-320" href="../index.html">
                                            APIE MUS
                                        </a>
                                    </li>
                                    <li class="menu__item-320">
                                        <a class="menu__item-link-320" href="page-produkcija.html">
                                            PRODUKCIJA
                                        </a>
                                    </li>
                                    <li class="menu__item-320 menu__item-320-galerija">
                                        <a class="menu__item-link-320" href="page-galerija.html">
                                            GALERIJA
                                        </a>
                                    </li>
                                    <li class="menu__item-320">
                                        <a class="menu__item-link-320" href="page-informacija.html">
                                            informacija
                                        </a>
                                    </li>
                                    <li class="menu__item-320">
                                        <a class="menu__item-link-320" href="page-kontaktai.html">
                                            KONTAKTAI
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>

                        <div class="container">
                            <div class="footer-sm__contacts-inner header-md__contacts-inner">
                                <a class="footer-sm__phone header-md__phone" href="tel:+37069883182">
                                    +370 698 83182
                                </a>
                                <div class="footer-sm__contacts-small header-md__contacts-small">
                                    <a class="footer-sm__email header-md__email"
                                        href="mailto:akswest@gmail.com">akswest@gmail.com</a>
                                    <a class="footer-sm__address-link header-md__address-link"
                                        href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
                                        <address class="footer-sm__address header-md__address">
                                            Šilutės pl. 21, 2a., Klaipėda
                                        </address>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- 320px end -->
                        <a class="email footer-md__email" href="mailto:akswest@gmail.com">akswest@gmail.com</a>
                        <a class="phone footer-md__phone" href="tel:+37069883182">
                            +370 698 83182
                        </a>
                    </div>
                    <a class="footer-md__address-link" href="https://goo.gl/maps/e7F4x8dSK95h4fkk7" target="_blank">
                        <address class="footer-md__address">
                            Šilutės pl. 21, 2a., Klaipėda
                        </address>
                    </a>
                </div>

                <!-- 768px end -->
            </div>
        </div>
        <div class="footer__small">
            <div class="container">
                <small>
                    &#169; AKSWest. Visos teisės saugomos. Be sutikimo draudžiama kopijuoti ir platinti svetainėje
                    esančią
                    informaciją.
                </small>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>